@font-face {
  font-family: "Helvetica";
  src:
    url("Helvetica.ttf"),
}

.focus {
  position: relative;
  display: flex;
  height: 100vh;
  width: 100vw;
  flex-direction: column;
  align-items: center;
  margin: 0;
  overflow: hidden;
  font-family: Helvetica;
  font-weight: bold;
  color: white;
  background-size: 50%;
 
  font-size: clamp(1.5rem, 1.5vw, 5rem);
}

.loader{
    display: flex;
  flex-direction: column;
  align-items: center;
    justify-content:center;
}
.player{
    margin-top: 20px;
    
}
.results {
    margin-top: 30px;
    top: -20vh;
    height: 100vh;
    width: 100vw;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items:center;
    font-family: Helvetica, sans-serif;
    font-weight: bold;
    font-size: 17px;
    color: white;
}
h1{
  color: white;
}
img{
    position: relative;
    top: 30vh;
    height:10vh;
    width: 10vh;
} 
body{
  margin: 0;
  overflow: hidden;

    background-color: rgba(0,0,0,1);
    background-size: 50%;
}

.heading {
  position: relative;
  top: 30vh;
  margin-bottom: 4rem;
}
.heading2 {
    
  position: relative;
    justify-content: center;
    margin-left: 2rem;

}

.container{
    justify-content: center;

}



.titleresult {
  position: relative;
  top: 30vh;
  font-size: 40px;  
}

.subtitle{
    position: relative;
    margin-top: 30vh;
    font-size: 10px;
    margin-left: 2rem;
    margin-right: 2rem;
    margin-bottom: 4rem;
}

.inputbox {
  position: relative;
  top: 30vh;
  width: min(60%, 550px);

  font: 'Arial Narrow', Arial, sans-serif;
  
  padding: 1rem;
  border-radius: 10px;
  border: 1px solid #ccc;
 

  font-size: 1rem;
}

@media only screen and (max-width: 480px) {
    .heading2{

    margin-left: 2rem;
    margin-right: auto;
    }
}


