
.focus {
  position: relative;
  display: flex;
  height: 100vh;
  width: 100vw;
  flex-direction: column;
  align-items: center;
  margin: 0;
  overflow: hidden;
  font-family: 'Arial Narrow', Arial, sans-serif;
  font-style: narrow;
  background-color: #8ACE00;
   -webkit-text-stroke: 1px #27272700; /* Creates the solid outline */
  text-shadow: 0 0 5px #222222; 
  background-size: 20%;
 
  background-blend-mode: lighten;
}
body{
  margin: 0;
  overflow: hidden;
}
.heading {
  position: relative;
  top: 0vh;
  font-size: clamp(2rem, 3vw, 5rem);
  margin-bottom: 4rem;
  color: contrast-color(grey);
  -webkit-transform:scale(0.8,2); /* Safari and Chrome */
}


